.messages-page {
  padding-left: 4rem;
}

.messages-page h1 {
  color: #231e23;
  font-weight: 400;
  margin-top: 1rem;
}

.envelope {
  padding-right: 0.5rem;
  color: #32e0c4;
}

@media screen and (max-width: 767px) {
  .messages-page {
    padding: 0 1.5rem;
  }
}
