.products-cart {
  display: flex;
  flex-direction: column;
  gap: rem;
  color: #222831;
}

.products-cart h1 {
  font-weight: 400;
  padding: 1rem 0 1rem 4rem;
  font-size: 1.5rem;
}

.products-cart .cart {
  padding-right: 0.5rem;
  color: #32e0c4;
}

.total {
  display: flex;
  justify-content: flex-end;
  padding-right: 4rem;
  padding-bottom: 1rem;
  color: #32e0c4;
  font-weight: 600;
}

.empty {
  padding-left: 4rem;
}

@media screen and (max-width: 767px) {
  .products-cart h1 {
    padding: 1rem;
  }

  .total {
    justify-content: flex-start;
    padding-left: 1.5rem;
  }
}
