.card {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  border: 1px solid grey;
  padding-left: 4rem;
  margin-bottom: 1rem;
}

.card img {
  height: 150px;
  padding-top: 1.5rem;
}

.card .title {
  font-size: 0.8rem;
  padding-top: 0.5rem;
}

.card .price {
  color: #d65a31;
  font-size: 0.8rem;
  font-weight: 600;
}

.card .price .currency {
  color: #d65a31;
  font-size: 0.8rem;
  font-weight: 600;
  padding-right: 0.5rem;
}

.card button {
  width: 2rem;
  height: 1.5rem;
  border: none;
  background-color: #dddddd;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #06113c;
  background-color: transparent;
  color: #06113c;
  font-weight: 400;
  cursor: pointer;
  margin-top: 1rem;
}

.card .output {
  padding: 0 0.5rem;
  font-size: 0.8rem;
}

.card .remove-btn {
  width: 9rem;
  height: 1.5rem;
  border: none;
  background-color: #dddddd;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #06113c;
  background-color: transparent;
  color: #06113c;
  font-weight: 400;
  font-size: 0.7rem;
  cursor: pointer;
  margin-top: 1rem;
}

.card .remove-btn:hover {
  background-color: #222831;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  transform: scale(0.9);
}

.card .subtotal {
  padding: 1rem 0;
  font-weight: 400;
  font-size: 0.8rem;
}

.trash {
  padding-left: 0.5rem;
}
