.footer {
  display: grid;
  grid-template-columns: 450px 1fr;
  justify-content: center;
  align-items: center;
  background-color: #231e23;
  padding-left: 4rem;
  margin-top: 1rem;
  width: 100%;
}

.footer .logo a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #32e0c4;
  border-bottom: 1px solid #eeeeee;
}

.footer .logo {
  margin: 1rem 0;
}

.footer .logo-bag {
  color: #eeeeee;
  padding-right: 1rem;
}

.navbar {
  justify-self: start;
  align-self: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-top: 1.5rem;
  width: 100%;
}

.navbar .navbar-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: 5rem;
}

.navbar .navbar-icons .follow {
  color: #686d76;
}

.facebook,
.instagram,
.youtube {
  height: 1rem;
  color: #fff;
}

.navbar .navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.navbar-menu li {
  padding: 0 1rem;
  position: relative;
}

.navbar-menu li a {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
  transition: 0.3s ease-in-out;
}

.navbar-menu li a:hover {
  color: #32e0c4;
}

.navbar-menu li:hover::after {
  content: '';
  width: 30%;
  height: 1px;
  background-color: #32e0c4;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

.copyright {
  font-size: 0.8rem;
  padding-top: 0.5rem;
  color: #686d76;
}

.copyright-icon {
  padding-right: 0.5rem;
}

@media screen and (max-width: 967px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0 0 0;
    margin: 0.5rem 0 0 0;
  }

  .footer .logo {
    margin: 0;
  }

  .copyright {
    font-size: 0.5rem;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 0;
  }

  .navbar .navbar-icons {
    margin: 0;
  }

  .facebook,
  .instagram,
  .youtube {
    height: 0.8rem;
    color: #fff;
  }

  .navbar-menu li a {
    color: #fff;
    font-size: 0.6rem;
    font-weight: 400;
    transition: 0.3s ease-in-out;
  }

  .footer .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer .logo a {
    font-size: 1rem;
  }

  .navbar .navbar-icons .follow {
    font-size: 0.6rem;
  }
}
