.edit-product {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-product h3 {
  font-weight: 400;
  padding: 1rem 0;
  font-size: 1.5rem;
}

.edit-product .square-icon {
  padding-right: 0.5rem;
  color: #32e0c4;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: start;
  align-items: start;
  gap: 3rem;
  padding-top: 2rem;
}

.grid label {
  font-size: 0.7rem;
  font-weight: 600;
}

.grid input {
  width: 15rem;
  border: none;
  border-bottom: 1px solid #231e23;
}

.rating-value {
  font-size: 0.7rem;
}

.grid select {
  width: 250px;
  border-radius: 8px;
}

.grid .textarea {
  grid-column-start: 1;
  grid-column-end: 4;
  margin-bottom: 2rem;
}

.grid .textarea textarea {
  width: 100%;
  border-radius: 8px;
}

.grid .currency input {
  width: 20px;
}

.grid .currency p {
  padding-bottom: 0.5rem;
  font-size: 0.7rem;
  font-weight: 600;
}

.grid .currency label {
  font-size: 0.6rem;
}

.grid .btn {
  grid-column-start: 1;
  grid-column-end: 4;
  margin-bottom: 2rem;
}

.grid .btn button {
  width: 100%;
  height: 2rem;
  border-radius: 8px;
  border: 1px solid #231e23;
  background-color: transparent;
  color: #231e23;
  font-weight: 400;
  cursor: pointer;
}

.grid .btn button:hover {
  background-color: #231e23;
  border: none;
  transition: 0.5s ease-in-out;
  transform: scale(0.9);
  color: #fff;
}

.error {
  color: red;
  font-size: 0.7rem;
}

.updated {
  color: green;
  font-size: 0.9rem;
}

@media screen and (max-width: 767px) {
  .edit-product h3 {
    margin-left: 1.5rem;
    font-size: 1rem;
  }

  .grid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
    justify-content: start;
    align-items: start;
  }

  .grid .textarea textarea {
    width: 15rem;
  }

  .grid .btn button {
    width: 15rem;
  }
}
