.about-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 2rem 4rem 0 4rem;
}

img {
  height: 280px;
}

.section {
  display: flex;
  align-items: center;
}

.section .info-obag {
  padding-left: 2rem;
}

.section .info-obag h1 {
  color: #32e0c4;
  padding-bottom: 1rem;
}

.section .info-research h1 {
  color: #32e0c4;
  padding: 1rem 0;
}

.section .info-everywhere h1 {
  color: #32e0c4;
  padding: 1rem 0;
}

.section .info-colors h1 {
  color: #32e0c4;
}

.section .images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem 0;
  gap: 2rem;
}

.bags {
  width: 500px;
  height: 200px;
  justify-self: flex-end;
  align-self: flex-end;
}

.watches {
  width: 500px;
  height: 180px;
}

@media screen and (max-width: 767px) {
  img {
    height: 220px;
  }
  .about-page {
    gap: 1rem;
    margin: 1.5rem;
  }
  .section {
    flex-direction: column;
  }

  .section .info-obag {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section .info-obag h1 {
    font-size: 1.2rem;
  }

  .section .info-obag p {
    text-align: center;
    font-size: 0.8rem;
  }

  .section .info-research {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section .info-research h1 {
    font-size: 1.2rem;
  }

  .section .info-research p {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .section .info-everywhere {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section .info-everywhere h1 {
    font-size: 1.2rem;
  }

  .section .info-everywhere p {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .section .info-colors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section .info-colors h1 {
    font-size: 1.2rem;
  }

  .section .info-colors p {
    text-align: center;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
  }

  .bags {
    width: 300px;
    height: 100px;
  }

  .watches {
    width: 300px;
    height: 100px;
  }
}
