.landing-page {
  height: 600px;
  background-image: url('https://i.pinimg.com/originals/66/ea/28/66ea286665ab8c71abc0cba41741de29.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 8em;
  padding-left: 4rem;
}

.landing-page .content h1 {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
  letter-spacing: 2px;
}

.landing-page .btn {
  padding-top: 3rem;
  margin-left: 4rem;
}

.landing-page .btn button {
  height: 3rem;
  width: 8rem;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
}

.landing-page .btn button:hover {
  background-color: #231e23;
  border: none;
  transition: 0.5s ease-in-out;
  transform: scale(0.9);
}

@media screen and (max-width: 767px) {
  .landing-page {
    height: 280px;
    background-size: cover;
  }

  .landing-page .content {
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
  }

  .landing-page .content h1 {
    font-size: 1.5rem;
    justify-self: center;
    align-self: center;
    padding-top: 2rem;
  }

  .landing-page .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
  }

  .landing-page .btn button {
    height: 2rem;
    width: 7rem;

    font-weight: 600;
  }
}
